#fullHomeBack(style="background:url('http://i.imgur.com/qxe8QwM.jpg') no-repeat")
.container.titleContainer
  .row-fluid
    .span12
      .description-texts
        h1.site-slogan
          span CUSTOM GAME MODE PLATFORM
        p.app-description
          span Play community game modes easily with your friends.
          br
          span Stable, extendable server network and a platform for future developers.
          br
          span Simple and easy to get started playing/developing custom game modes.
          br
          span
            a(href="http://steamcommunity.com/id/kidovate")Created by QUANTUM.
            | Game servers provided by MoD and 
            a(href="/about") others.
        a.btn.btn-success(style="font-size:16px",href="/mods") Start Playing!
