#fullHomeBack(style="background:url('http://i.imgur.com/kY2hcmB.jpg') no-repeat")
.container.titleContainer
  .row-fluid
    .span12
      .description-texts
        h1.site-slogan
          span DOTA 2 CUSTOM GAMES
        .feature
          span Learn to create and develop Dota 2 custom games.
        .feature
          span Discuss and ask questions from the best in the community.
        .feature
          span Play and test your game modes on the D2Moddin network.
        .feature
          span
            a(href="http://steamcommunity.com/id/kidovate") Created by QUANTUM. 
            | Game servers provided by 
            a(href="/about") various people.
        a.btn.btn-success(style="font-size:16px;margin-top:5px",href="/mods") VIEW MODS
        a.btn.btn-primary(style="font-size:16px;margin-top:5px",href="http://forum.d2modd.in") FORUMS
