#fullHomeBack(style="background:url('http://i.imgur.com/kY2hcmB.jpg') no-repeat")
.container.titleContainer
  .row-fluid
    .span12
      .description-texts
        h1.site-slogan
          span CUSTOM GAME MODE PLATFORM
        .feature
          span Play community game modes easily with your friends.
        .feature
          span Stable, extendable server network and a platform for future developers.
        .feature
          span Simple and easy to get started playing/developing custom game modes.
        .feature
          span
            a(href="http://steamcommunity.com/id/kidovate") Created by QUANTUM. 
            | Game servers provided by 
            a(href="/about") various people.
        a.btn.btn-success(style="font-size:16px;margin-top:5px",href="/mods") Start Playing!
