#wrapper
  section.container.text-container(style="margin-top:30px")
    h1.text-center
      strong Ranked Reflex Leaderboards
      div(style="width:251px;margin-left:auto;margin-right:auto")
        div(modthumbnail)
  #mods
    section.container
      //- .row
        div.lobbyFilter(style="max-width: 1000px;margin-left:auto;margin-right:auto")
          span.combo
            label Game Mode:
            select(ng-model="mod",ng-options="obj.fullname for obj in mods | filter:{playable:true, ranked: true}",ng-change="updateLeaderboard('mod',mod.name)")
              option(value="") Any
      .row
        table.table.table-hover(style="max-width: 800px;margin-left:auto;margin-right:auto")
          thead
            tr(style="min-width: 100%;height:39px")
              th(style="min-width:50px;max-width:50px") //Icon
              th(customsort,order="'profile.name'",sort="sort",style="min-width:250px") Name
              th(customsort,order="'profile.metrics.reflex.wins'",sort="sort") Wins
              th(customsort,order="'profile.metrics.reflex.losses'",sort="sort") Losses
              th(customsort,order="'profile.mmr.reflex'",sort="sort") MMR
          tbody
            tr.llrow(ng-repeat="player in players | orderBy:sort.order:sort.reverse")
              td(style="padding:5px;min-width:50px;max-width:50px;width:50px")
                img(ng-src="{{player.steam.avatar}}",style="width:35px;height:35px")
              td(style="min-width:250px")
                a(href="{{player.steam.profileurl}}",target="_blank") {{player.profile.name}}
              td
                {{player.profile.metrics.reflex.wins|number}}
              td
                {{player.profile.metrics.reflex.losses|number}}
              td
                {{player.profile.mmr.reflex|number}}
