#wrapper(ng-if="!auth.isAuthed")
  .panel.panel-success.entryPanel
    .panel-heading Sign in
    .panel-body(style="font-weight:bold;text-align:center;text-size:20px")
      | You must be signed in (top right of the page) to see lobbies.
#wrapper(ng-if="auth.isAuthed")
  section.container.text-container(style="margin-top:30px")
    h1.text-center
      strong Lobbies
      br
      div(ng-if="hasMod",style="width:251px;margin-left:auto;margin-right:auto")
        div(modthumbnail)
      a.btn.btn-link(ng-if="hasMod",href="/lobbies/") Show All Lobbies
      button.btn.btn-link(ng-click="createLobby()") Create a Lobby
      button.btn.btn-link(ng-click="enterPassword()") Enter Lobby Password
  #mods
    section.container
      .row
        table.table.table-hover(style="max-width: 1000px;margin-left:auto;margin-right:auto")
          thead
            tr(style="min-width: 100%;height:39px")
              th(style="min-width:50px") Mod
              th(style="min-width:250px") Name
              th(style="min-width:140px") Region
              th(style="width:100%") Teams
          tbody
            tr.llrow(ng-repeat="lobby in lobbies | orderBy:totalPlayerCount:true | filter:lobbyFilter",ng-class="{info:(totalPlayerCount(lobby)==10),success:(totalPlayerCount(lobby)<10)}",ng-click="joinLobby(lobby)",style="cursor:pointer")
              td(style="padding:5px;min-width:50px;max-width:50px")
                img(ng-src="{{getModThumbnail(lobby.mod)}}",style="width:35px;height:35px")
              td(style="min-width:250px") ({{totalPlayerCount(lobby)}}/10) {{lobby.name | limitTo: 25}}
              td(style="min-width:140px") {{REGIONSH[lobby.region]}}
              td(style="margin:0;padding:0;width:100%")
                .ilteams
                  p
                    span.avi(ng-repeat="player in lobby.radiant track by $index",ng-class="{adminStyl:player.icon}")
                      img(ng-src="{{player.avatar}}",ng-hide="player==null")
                      |  {{player.name | limitTo:10}}
                  p
                    span.avi(ng-repeat="player in lobby.dire track by $index",ng-class="{adminStyl:player.icon}")
                      img(ng-src="{{player.avatar}}",ng-hide="player==null")
                      |  {{player.name | limitTo:10}}
