#wrapper
  section.container.text-container(style="margin-top:30px")
    h1.text-center
      strong Lobbies
      br
      div(ng-if="hasMod",style="width:251px;margin-left:auto;margin-right:auto")
        div(modthumbnail)
      a.btn.btn-link(ng-if="hasMod",href="/lobbies/") Show All Lobbies
      button.btn.btn-link(ng-click="createLobby()") Create a Lobby
      button.btn.btn-link(ng-click="enterPassword()") Enter Lobby Password
  #mods
    section.container
      .row
        table.table.table-hover
          thead
            tr
              th(style="width:50px") Mod
              th(style="width:150px") Name
              th(style="width:140px") Region
              th Teams
              th(style="width:70px")
          tbody
            tr(ng-repeat="lobby in lobbies | orderBy:totalPlayerCount:true | filter:lobbyFilter",ng-class="{info:(totalPlayerCount(lobby)==10),success:(totalPlayerCount(lobby)<10)}",ng-click="joinLobby(lobby)",style="cursor:pointer")
              td(style="padding:5px")
                img(ng-src="{{getModThumbnail(lobby.mod)}}",style="width:35px;height:35px")
              td ({{totalPlayerCount(lobby)}}/10) {{lobby.name}}
              td {{REGIONSH[lobby.region]}}
              td(style="margin:0;padding:0")
                .ilteams
                  p
                    span.avi(ng-repeat="player in lobby.radiant track by $index")
                      img(ng-src="{{player.avatar}}",ng-hide="player==null")
                      |  {{player.name}}
                  p
                    span.avi(ng-repeat="player in lobby.dire track by $index")
                      img(ng-src="{{player.avatar}}",ng-hide="player==null")
                      |  {{player.name}}
              td
                button.btn.btn-success(ng-click="joinLobby(lobby)") Join
