#wrapper
  section.container.text-container(style="margin-top:30px")
    h1.text-center
      strong Lobbies
      br
      div(ng-if="hasMod",style="width:251px;margin-left:auto;margin-right:auto")
        div(modthumbnail)
      a.btn.btn-link(ng-if="hasMod",href="/lobbies/") Show All Lobbies
      button.btn.btn-link(ng-click="createLobby()") Create a Lobby
  #mods
    section.container
      .row
        table.table.table-hover
          thead
            tr
              th(style="width:50px") Mod
              th(style="width:150px") Name
              th(style="width:140px") Region
              th Teams
              th(style="width:70px")
          tbody
            tr(ng-repeat="lobby in lobbies")
              td(style="padding:3px")
                img(ng-src="{{getModThumbnail(lobby)}}")
              td {{lobby.name}}
              td {{REGIONSH[lobby.region]}}
              td
                .ilteams
                  p
                    span.avi(ng-repeat="player in lobby.radiant")
                      img(ng-src="{{player.avatar}}")
                  p
                    span.avi(ng-repeat="player in lobby.dire")
                      img(ng-src="{{player.avatar}}")
              td
                button.btn.btn-success(ng-click="joinLobby(lobby)") Join
