#wrapper
  section.container.text-center(style="margin-top:30px")
    h1.text-center
      strong 
        i.fa.fa-lock(ng-if="lobby.hasPassword")
        | {{lobby.name}}
      |  &#91;{{REGIONSH[lobby.region]}}&#93;
      span.subtitle(ng-if="lobby.status==0",style="margin-top:10px")
        | Waiting for the host to start the game...
  div(style="margin-left:auto;margin-right:auto;width:251px")
    div(modthumbnail)
  div(ng-if="lobby.status < 2",style="margin-left:auto;margin-right:auto;width:110px;margin-top:5px")
    button.btn.btn-danger(ng-click="leaveLobby()") Leave Lobby
  .findDialog(style="margin-top:20px",ng-if="lobby.status>0")
    .dTitle
      span(ng-if="lobby.status==1") Waiting for a server slot...
      span(ng-if="lobby.status==2") Server is launching...
    .loadingBarContainer(ng-if="lobby.status<3")
      .progress.progress-striped.active
        .progress-bar(ng-class="lobby.status==1?'progress-bar-info':'progress-bar-warning'",role="progressbar",style="width:100%;padding-top:25px")
    div(ng-if="lobby.status==3&&status.managerConnected")
      span.ensureD2(style="padding-top:15px")
        b Click this button only if your Dota 2 has not already connected.
      button.btn.btn-success.connectBtn(ng-click="sendConnect()") Retry Connection
    div(ng-if="lobby.status==3&&!status.managerConnected")
      span.ensureD2(style="padding-top:15px")
        b You need the mod manager running to connect.
      button.btn.btn-primary.connectBtn(ng-click="launchManager()") Launch Manager
    button.btn.btn-danger(ng-if="lobby.status<3&&isHost",style="position:relative;top:-10px",ng-click="stopFinding()")
      | Cancel Queue
  div.teamRow(ng-if="lobby.status==0")
    .col-sm-6.teamCol.niceShadow
      .tileTitle Radiant
      table.table.table-striped
        tbody
          tr(ng-repeat="player in lobby.radiant",ng-class="{danger:player.failedConnect}")
            td(ng-class="{hostStyl:player.isHost,adminStyl:player.icon}")
              i.fa.fa-ban(ng-if="isHost&&!player.icon",ng-click="kickPlayer(player)")
              i.fa(ng-if="player.icon",class="{{player.icon}}")
              |  {{player.name}}
          tr(ng-repeat="slot in radiantSlots track by $index")
            td
              button.btn.btn-link(style="padding:0",ng-click="takeSlot(true)") Take Slot
    .col-sm-6.teamCol.niceShadow
      .tileTitle Dire
      table.table.table-striped
        tbody
          tr(ng-repeat="player in lobby.dire",ng-class="{danger:player.failedConnect}")
            td
              i.fa.fa-ban(ng-if="isHost",ng-click="kickPlayer(player)")
              | {{player.name}}
          tr(ng-repeat="slot in direSlots track by $index")
            td 
              button.btn.btn-link(style="padding:0",ng-click="takeSlot(false)") Take Slot
    .col-sm-6.hostCol.niceShadow
      .tileTitle Chat
      textarea.form-control.chatBox(readonly="readonly")
      input.form-control#chatInput(maxlength="140",ng-keyup="$event.keyCode==13?sendMessage():null")
    .col-sm-6.hostCol.niceShadow(ng-if="isHost")
      .tileTitle Lobby Controls
      div(style="width:100%;height:150px;padding:15px;padding-top:0")
        input.titleInput.form-control(value="{{lobby.name}}",maxlength=40,ng-keyup="$event.keyCode==13?changeTitle():null")
        select.regionInput.form-control(ng-change="changeRegion(region)",ng-model="region",ng-options="key as item for (key,item) in REGIONSH")
        input.passwordInput.form-control(value="{{lobby.password}}",placeholder="no password",maxlength=40,ng-keyup="$event.keyCode==13?changePassword():null")
        .btn.btn-success(style="margin-top:0;width:100%",ng-click="startQueue()") Start Game
