.container.titleContainer
  .row-fluid
    .span12
      .description-texts
        h1.site-slogan
          span(style="line-height:5px") {{mod.fullname}}
        p.app-description
          .feature(ng-repeat="feature in mod.features")
            span {{feature}}
        a.btn.btn-info(href="{{mod.website}}",target="_blank") Author Website
        a.btn.btn-success(ng-class="{{btnClass}}",href="/lobbies/{{mod.name}}",style="margin-left:15px")
          div(ng-if="mod.playable == true")  Play Now
          div(ng-if="mod.playable == false") Not Available
video#modDetail(ng-if="mod.spreadvideo",src="{{mod.spreadvideo}}",style="background:url('{{mod.spreadimage}}') no-repeat;z-index:-5000",autoplay,loop)
#modDetail(ng-if="mod.spreadvideo==null",style="background-image:url('{{mod.spreadimage}}');height:100%;z-index:-5000;pointer-events:none")
