#wrapper
  section.container.text-container(style="margin-top:30px")
    h1.text-center
      strong Played Games
      br
      ul.pagination
        li.disabled
          a(href='#')
        li.active
          a(href='#') Hi
  #mods
    section.container
      .row
        table.table.table-hover
          thead
            tr
              th(style="width:50px") Mod
              th Teams
              th Winner
          tbody
            tr(ng-repeat="res in rservice.results | orderBy:'date':true",style="cursor:pointer")
              td(style="padding:5px")
                img(ng-src="{{getModThumbnailN(res.mod)}}",style="width:35px;height:35px")
              td ({{totalPlayerCount(lobby)}}/10) {{lobby.name}}
              td {{REGIONSH[lobby.region]}}
              td(style="margin:0;padding:0")
                .ilteams
                  p
                    span.avi(ng-repeat="player in lobby.radiant track by $index",ng-class="{adminStyl:player.icon}")
                      img(ng-src="{{player.avatar}}",ng-hide="player==null")
                      |  {{player.name}}
                  p
                    span.avi(ng-repeat="player in lobby.dire track by $index",ng-class="{adminStyl:player.icon}")
                      img(ng-src="{{player.avatar}}",ng-hide="player==null")
                      |  {{player.name}}
              td(ng-if="
                
