#wrapper
  section.container.text-center(style="margin-top:30px")
    h1.text-center
      strong 
        | Match Result {{match.match_id}}
  div(style="margin-left:auto;margin-right:auto;width:251px")
    div(modthumbnail)
  div(style="margin-left:auto;margin-right:auto;width:110px;margin-top:5px")
    a.btn.btn-danger(href="javascript:history.back()") Return to List
  div.teamRow
    .col-sm-6.teamCol.niceShadow
      .tileTitle Radiant
      table.table.table-striped
        tbody
          tr(ng-repeat="player in match.teams[0].players")
            td
              |  {{player.name}}
    .col-sm-6.teamCol.niceShadow
      .tileTitle Dire
      table.table.table-striped
        tbody
          tr(ng-repeat="player in match.teams[1].players")
            td
              |  {{player.name}}
