!!!5
html.no-js(data-ng-app="d2mp",lang="en")
  head
    meta(charset='utf8')
    base(href='/')
    title D2Moddin: Dota 2 Custom Games
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/pnotify/2.0.0/pnotify.all.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/animatecss/3.1.1/animate.css')
    link(rel='stylesheet', href='/css/lib/bootstrap-wizard.css')
    link(rel='stylesheet', href='/css/lib/loading-bar.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/login.css')
    link(rel='stylesheet', href='/css/about.css')
    link(rel='stylesheet', href='/css/modList.css')
    link(rel='stylesheet', href='/css/friendList.css')
    link(rel='stylesheet', href='/css/bottombar.css')
    link(rel='stylesheet', href='/css/home.css')
    link(rel='stylesheet', href='/css/global.css')
    link(rel='stylesheet', href='/css/navbar.css')
    link(rel='stylesheet', href='/css/pnotify.css')
    link(rel='stylesheet', href='/css/spread.css')
    link(rel='stylesheet', href='/css/topbar.css')
    link(rel='stylesheet', href='/css/layout/topbar.css')
    link(rel='stylesheet', href='/css/dota2minimapheroes.css')
    link(rel="icon",type="image/png",href="/images/favicon.png")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700,800')
  body
    .loginButtonContainer(data-ng-controller="AuthCtrl",style="font-weight:100")
      ul.nav.navbar-nav.navbar-right
        #login-buttons.login-buttons-dropdown-align-right
        li#login-dropdown-list.dropdown
          a.dropdown-toggle(data-toggle="dropdown",ng-if="auth.isAuthed==false") SIGN IN
          a.dropdown-toggle(data-toggle="dropdown",ng-if="auth.isAuthed") {{auth.user.profile.name}}
          .dropdown-menu(ng-if="auth.isAuthed")
            .login-text-and-button
              #login-buttons-steam.login-button.single-login-button.col-sm-12.btn.btn-danger(ng-click="signOut()")
                #login-buttons-image-steam.login-image
                span.text-besides-image.sign-in-text-steam
                  | Sign Out
          .dropdown-menu(ng-if="!auth.isAuthed")
            .login-text-and-button
              #login-buttons-steam.login-button.single-login-button.col-sm-12.btn.btn-primary(ng-click="startLogin()")
                #login-buttons-image-steam.login-image
                span.text-besides-image.sign-in-text-steam
                  | Sign in with Steam
    .friendControlContainer(ng-controller="FriendCtrl",style="font-weight:100")
      ul.nav.navbar-nav.navbar-right(ng-if="auth.isAuthed")
        li#friend-dropdown-list.dropdown
          a.dropdown-toggle(data-toggle="dropdown",ng-if="auth.isAuthed")
            i.fa.fa-user
            |  
            span {{(friends|filter:friendsOnline).length}} Online
          .dropdown-menu(ng-if="auth.isAuthed", ng-if="friends.length > 0")
            table.table-condensed(style="margin-left:auto;margin-right:auto")
              tr.success(style="font-size: 15px; color:red") Right click to interact.
              tr(ng-repeat="friend in friends | orderBy:['status','name']:true", context-menu, data-target="friendMenu{{ $index }}")
                td.avatar
                    img(ng-src="{{friend.avatar}}", ng-class="{offline: friend.status == statusenum.Offline, online: friend.status != statusenum.Offline && friend.status != statusenum.NotRegistered}")
                td {{friend.name}} 
                td {{getStatusText(friend.status)}}
                td.dropdown.position-fixed(id="friendMenu{{ $index }}")
                  ul.dropdown-menu(role='menu',style="padding:5px;border-radius:0px")
                    li
                      a.pointer(role='menuitem', tabindex='1', ng-click="joinFriendLobby(friend._id)") Join Lobby
                    li
                      a.pointer(role='menuitem', tabindex='2', ng-click="inviteFriend(friend._id)") Invite Friend
    header#topNav(ng-controller="NavCtrl")
      .container
        a(href="/").logo
          img(src="http://i.imgur.com/UgN4uSs.png",alt="D2MODD.IN")
        .pull-right(style="position:fixed;top:17px;right:200px")
          nav.navbar-nav.navbar-right.nav-main.mega-menu
            ul.nav.nav-pills.nav-main.scroll-menu#topMain
              li
                a(href="/mods") MODS
              li
                a(href="/lobbies") LOBBIES
              li(ng-if="auth.isAuthed")
                a(href="/ranked") RANKED
              li
                a(href="/leaderboards") LEADERBOARD
              li
                a(href="http://forum.d2modd.in") FORUM
              li
                a(href="http://docs.d2modd.in") DOCS
    block body
