.aboutc
  margin-top:75px
.divider .fa
  color: #bbb;
  background: #f4f5f7;
  text-align: center;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  font-size: 20px;
  position: absolute;
  top: -25px;
  left: 50%;
  margin: 0 auto 0 -25px;
i.fa
  text-decoration: none !important;
.aboutc h2
  font-size: 2.2em;
  font-weight: 300;
  line-height: 42px;
  margin: 0 0 32px 0;
div.toggle
  margin: 10px 0 0;
  position: relative;
  clear: both;
div.toggle div.toggle-content
  border: 0;
  display: none;
  background: #fff;
  margin-top: -5px;
  padding: 15px 20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
div.toggle.active > label
  color: #fff;
  background-color: #F07057;
div.toggle > label 
  color: #333;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
  position: relative;
  display: block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all .10s ease-out;
  -moz-transition: all .10s ease-out;
  -o-transition: all .10s ease-out;
  transition: all .10s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
