#friend-dropdown-list .dropdown-menu {
  width: 300px;
  padding: 15px;
}
#friend-dropdown-list a {
  cursor: pointer;
}
.friendControlContainer {
  position: fixed;
  top: 4px;
  right: 100px;
  width: 120px;
  height: 60px;
  color: #808080;
  z-index: 5000;
}
.avatar {
  width: 32px;
  height: 32px;
}
