body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
}
.tileTitle {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.btn {
  border-radius: 0;
}
.entryPanel {
  width: 400px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.modThumbnail {
  width: 250px;
  height: 70px;
  max-width: 300px;
  max-height: 80px;
  padding: 10px;
  border-color: #e6e6e6;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  cursor: pointer;
}
.modThumbnail .thumbDetail {
  width: 170px;
  height: 50px;
  float: right;
}
.modThumbnail .thumbDetail p {
  font-size: 12px;
  margin: 0;
  line-height: 15px;
}
.lobbyFilter span {
  display: inline-block;
  margin-right: 10px;
}
.lobbyFilter span.combo label {
  display: block;
}
.lobbyFilter span.check label {
  margin-left: 2px;
}
.avi {
  margin-right: 10px;
}
.avi img {
  width: 15px;
  height: 15px;
}
.ilteams p {
  margin: 0;
  height: 20px;
}
.installDialog {
  width: 30%;
  margin: 0 auto;
  margin-top: 120px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.27);
  padding: 20px;
  min-width: 350px;
}
.installDialog p {
  color: #000;
}
.installDialog .dTitle {
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 30px;
}
.installDialog .mainBtn {
  width: 100%;
}
.divider {
  border: 0;
  margin: 60px 0;
  height: 4px;
  border-top: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  text-align: center;
  position: relative;
  clear: both;
}
.teamRow {
  margin-top: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.teamCol {
  width: 370px;
  height: 228px;
  margin: 2px;
}
.chatCol {
  width: 370px;
  margin: 2px;
}
.hostCol {
  width: 370px;
  margin: 2px;
}
.joinBtn {
  cursor: pointer;
}
.sortBtn {
  cursor: pointer;
}
.sortBtn span {
  margin-right: 2px;
}
.connectDialog .dTitle {
  font-weight: bold;
  text-align: center;
}
.findDialog .connectBtn {
  width: 100%;
}
.findDialog {
  width: 500px;
  height: 180px;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.27);
  padding: 20px;
}
.findDialog .dTitle {
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 25px;
}
.loadingBarContainer {
  margin-top: 10px;
}
#chatInput {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.chatBox {
  width: 100%;
  min-height: 110px;
  resize: vertical;
}
.progress {
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
.pbSmall {
  height: 1px;
}
.ensureD2 {
  float: left;
  font-family: "Open Sans";
  padding-top: 3px;
  padding-bottom: 3px;
}
.niceShadow {
  box-shadow: 0 0 6px 0 rgba(105,105,105,0.75);
}
.adminRow {
  margin-top: 10px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.adminCol {
  width: 370px;
  background-color: #fff;
  margin-left: 5px;
  min-height: 85px;
  margin: 2px;
  padding-bottom: 10px;
}
.adminRow button {
  margin: 2px;
}
.adminStyl {
  color: #d80000;
}
.hostStyl {
  font-weight: bold;
}
.llrow {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}
.llrow td {
  height: 100% !important;
}
.llrow.ng-enter {
  transition: all ease-in 1s;
  height: 0 !important;
  max-height: 0 !important;
  opacity: 0;
}
.llrow.ng-move {
  transition: all ease-in 1s;
}
.llrow.ng-enter-active {
  height: 51px !important;
  max-height: 0 !important;
  opacity: 1;
}
.llrow.ng-leave {
  transition: all ease-in 1s;
  height: 51px !important;
  max-height: 51px !important;
  opacity: 1;
}
.llrow.ng-leave-active {
  height: 0 !important;
  max-height: 51px !important;
  opacity: 0;
}
.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  transition: all 0.3s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}
.btn {
  border-color: #fff;
  border-width: 2px;
  border-radius: 1px;
  background-color: rgba(255,255,255,0.15);
  color: #fff;
}
.btn:hover {
  background-color: rgba(255,255,255,0.25);
  color: #fff;
}
.btn-link {
  color: #000;
}
.btn-link:hover {
  color: #000;
  background-color: rgba(255,255,255,0.5);
}
.btn-success {
  color: #008000;
  border-color: #008000;
}
.btn-success:hover {
  color: #008000;
  border-color: #008000;
}
.btn-primary {
  color: #52d0fd;
  border-color: #52d0fd;
}
.btn-primary:hover {
  color: #52d0fd;
  border-color: #52d0fd;
}
