.divider
  border: 0
  margin: 60px 0
  height: 4px
  border-top: #ddd 1px solid
  border-bottom: #ddd 1px solid
  text-align: center
  position: relative
  clear: both
.teamRow
  margin-top: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto
.teamCol
  width: 370px
  height: 228px
  margin: 2px
.chatCol
  width: 370px
  margin: 2px
.hostCol
  width: 370px
  margin: 2px
.joinBtn
  cursor: pointer
.connectDialog .dTitle
  font-weight: bold
  text-align: center
.findDialog .connectBtn
  width: 100%;
.findDialog
  width: 500px
  height: 180px
  margin: 0 auto
  margin-top: 40px
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.27);
  padding: 20px;
.findDialog .dTitle
  font-weight: bold
  text-align: center
  width: 100%
  font-size: 25px;
.loadingBarContainer
  margin-top: 10px
#chatInput
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
.chatBox
  width: 100%
  min-height: 110px
  resize: vertical
.progress
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
.pbSmall
  height: 1px
.ensureD2
  float:left
  font-family: "Open Sans"
  padding-top:3px
  padding-bottom:3px
