.or {
  text-align: center;
}
#login-dropdown-list .dropdown-menu {
  width: 300px;
  padding: 15px;
}
#login-dropdown-list #forgot-password-link,
#login-dropdown-list #signup-link {
  margin-top: 10px;
}
#login-dropdown-list .btn {
  margin-top: 5px;
}
#login-dropdown-list input {
  margin: 0px;
  border-radius: 0px;
}
#login-dropdown-list input:first-of-type {
  margin-top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#login-dropdown-list input:last-of-type {
  margin-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modal-backdrop {
  opacity: 0.75;
}
#login-buttons-reset-password-modal .modal-content,
#login-buttons-enroll-account-modal .modal-content {
  margin-top: 30%;
}
.login-buttons-dropdown-align-left#login-buttons + li .dropdown-menu {
  float: left;
  left: 0;
  right: auto;
}
.login-buttons-dropdown-align-right#login-buttons + li .dropdown-menu {
  float: right;
  right: 0;
  left: auto;
}
#login-buttons {
  display: none;
}
#login-dropdown-list a {
  cursor: pointer;
}
#configure-login-service-dialog-modal {
  position: fixed;
}
#configure-login-service-dialog-modal left: 50% {
  margin-left: -300px;
}
.loginButtonContainer {
  position: fixed;
  top: 15px;
  right: 5px;
  width: 120px;
  height: 60px;
  color: #808080;
  z-index: 5000;
}
.loginButtonContainer .navbar-right:last-child {
  margin-right: 0;
}
.loginButtonContainer a {
  color: #000;
}
.loginButtonContainer .dropdown-toggle {
  color: #808080;
}
