.description-texts .btn
  font-family "Open Sans"
#modDetail
  position: fixed
  top: 0
  left: 0
  pointer-events: none
  background-size: cover !important
  padding-top:75px
  padding-bottom:30px
  height: 100%;
  object-fit: cover;
video
  position:absolute;
  z-index:0;
video.fillWidth
  width: 100%;
