.modThumbnail
  width: 250px
  height: 70px
  max-width: 300px
  max-height: 80px
  padding: 10px
  border-color: rgb(230, 230, 230);
  border-width: 1px;
  border-style: solid;
  text-align: left
  cursor: pointer
.modThumbnail .thumbDetail
  width: 170px
  height: 50px;
  float: right
.modThumbnail .thumbDetail p
  font-size: 12px
  margin: 0
  line-height: 15px
